/* Personal.module.css */

.workerInfoSelect {
  width: 290px;
  height: 40px;
  padding: 0px 9px;
  /* margin-left: 12px; */
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  /* margin-left: 12px; */
}
  
  .info__block {
    display: flex;
    margin-top: 10px;
    gap: 10px;
  }

  
  .workerCapitalName {
    color: #4B4B4B;
    font-size: 18px;
    font-weight: 600;
  }
  
  .edit {
    font-size: 14px;
    color: #4b4b4b;
  }
  
  .workerBlock {
    display: flex;
    gap: 30px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
  }
  
  .rows {
    display: flex;
  }
  
  .label {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    width: 127px;
  }
  
  .workerInfo {
    border-radius: 5px;
    border: 1px solid #959595;
    width: 270px;
    /* height: 30px; */
    padding: 6px 9px;
    margin-left: 12px;
    outline: none;
    font-family: "Helvetica", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }
  
  .totalInfo {
    border-radius: 5px;
    background: #f3f3f3;
    padding: 14px;
    margin-top: 15px;
  }
  

  .actionBtn {
    padding: 5px 9px;
    font-weight: 400;
  }

  
  .relativesActionBtns {
    display: flex;
    gap: 10px;
    background: none;
  }
  
  
  .editInput {
    border: none;
    outline: none;
    background: none;
    width: 100%;
  }

  .iconBtn {
    font-size: 16px;
    width: 32px;
    height: 32px;
    color: #1565C0;
  }