.notification_container {
    position: fixed;
    bottom: 100px;
    right: 100px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(90%);
    border-radius: 50%;
}

.notification_container.open {
    transform: translateY(0);
    box-shadow: 0 0 10px rgba(24, 6, 123, 0.553);
}

@keyframes blink {
    0%, 100% {
      box-shadow: 0 0 10px rgba(11, 6, 145, 0.713);
    }
    50% {
      box-shadow: none;
    }
}

.notification_container::before {
    content: '';
    position: absolute;
    top: -8px;
    right: -8px;
    bottom: -8px;
    left: -8px;
    border-radius: 50%;
    z-index: -1;
}
  
.notification_container.closed::before {
    animation: blink 1s infinite; 
    box-shadow: none;
}

.notification_button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    border: #1B3884;
    background: #1B3884;
    color: #fff;
    /* box-shadow: 0 0 10px rgba(33, 8, 176, 0.403); */
}  

.notification_list {
    position: absolute;
    top: -65px;
    right: 70px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    padding: 10px;
    box-shadow: 0 0 10px rgba(8, 16, 171, 0.11);
    z-index: 100;
}

.notification_list {
    list-style-type: none;
    padding: 20px;
    border-radius: 5px;
    
    margin: 0;
}

.notification_list li {
    margin-bottom: 10px;
}

.notification_headline {
    font-size: 17px;
    font-weight: 500;
    color: #585858;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: '', sans-serif;
}

.paragraph {
    margin: 15px 0 25px 25px;
    font-size: 16px;
    font-weight: 400;
    color: #585858;
    display: flex;
    align-items: center;
    gap: 8px;
    font-family:"Helvetica", sans-serif;
}

.notification_data {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.notification_text {
    color: #3b3b3b;
    font-size: 15px;
    font-family: "Helvetica", sans-serif, sans-serif;
}

