
.dropdown {
    width: 210px;
  }
  
  .actionBtn {
    padding: 9px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  
  .arrow {
    font-size: 24px;
  }
  
  .dropdown__content {
    padding: 8px;
    background: #ffffff;
    width: 195px;
    border-radius: 5px;
  }
  
  .input__container {
    margin-top: 40px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    /* background: #F8F8F8; */
  }
  
  .options__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .wrapper__input {
    display: flex;
  }
  
  
  .label__name {
    display: block;
    width: 127px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .workerInfo {
    width: 220px;
    margin-left: 12px;
    outline: none;
    font-family: "Helvetica", sans-serif, sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }
  
  .workerInfoSelect {
    width: 220px;
    /* margin-left: 12px; */
    /* padding-left: 12px; */
    /* outline: none; */
    font-family: "Helvetica", sans-serif, sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }

  .tooltipTextMain {
    margin: 0 0 15px 0;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .tooltipText {
    margin: 10px 0 0 11px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(200, 16, 16);
  }

  .data__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .workerInfoDate {
    width: 182px;
    /* height: 32px; */
    margin-left: 12px;
    outline: none;
    font-family: "Helvetica", sans-serif, sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
  }

.dropdown {
  position: relative; 
}

.subMenu {
  display: none; 
  position: absolute;
  right: -140px; 
  top: 0; 
  background-color: #F8F8F8;
  padding: 8px;
  border-radius: 5px;
}

.dropdown:hover .subMenu {
  display: block; 
}

.subMenuDropdown {
  border: none;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  width: 185px;
  text-align: left;
  /* height: 32px; */
  padding: 6px 9px;
}

.input__name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}


.dropdownCategory {
  position: relative; 
}

.subMenuCategory {
  display: none; 
  position: absolute;
  right: -180px; 
  top: 0; 
  background-color: #F8F8F8;
  padding: 8px;
  border-radius: 5px;
}

.dropdownCategory:hover .subMenuCategory {
  display: block; 
}

.subMenuDropdownCategory {
  border: none;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  width: 185px;
  text-align: left;
  /* height: 32px; */
  padding: 6px 9px;
}

.input__name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}


.dropdownRank {
  position: relative; 
}

.subMenuRank {
  display: none; 
  position: absolute;
  right: -150px; 
  top: 0; 
  background-color: #F8F8F8;
  padding: 8px;
  border-radius: 5px;
}

.dropdownRank:hover .subMenuRank {
  display: block; 
}

.subMenuDropdownRank {
  border: none;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  width: 185px;
  text-align: left;
  /* height: 32px; */
  padding: 6px 9px;
}

.input__name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}


.dropdownInvestigationRetrievals {
  position: relative; 
}

.subMenuInvestigationRetrievals {
  display: none; 
  position: absolute;
  right: -180px; 
  top: 0; 
  width: 170px;
  background-color: #F8F8F8;
  padding: 8px;
  border-radius: 5px;
}

.dropdownInvestigationRetrievals:hover .subMenuInvestigationRetrievals {
  display: block; 
}

.subMenuDropdownInvestigationRetrievals {
  border: none;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  width: 185px;
  text-align: left;
  /* height: 32px; */
  padding: 6px 9px;
}

.input__name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

.headline {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}