.workerCapitalName {
    color: #4B4B4B;
    font-size: 18px;
    font-weight: 600;
}

.actionBtn {
    padding: 5px 9px;
    font-weight: 400;
}

.workerBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 0px 30px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
}

.rows {
    display: flex;
}

.label {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    width: 127px;
}

.workerInfo {
    border-radius: 5px;
    border: 1px solid #959595;
    width: 270px;
    /* height: 30px; */
    padding: 6px 9px;
    margin-left: 12px;
    outline: none;
    font-family: "Helvetica", sans-serif;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.totalInfo {
    border-radius: 5px;
    background: #F3F3F3;
    padding: 14px;
    margin-top: 15px;
}

/* calendar */
.datePickerContainer {
    position: relative;
}
.dateLogo {
    position: absolute;
    z-index: 12;
    right: 9px;
    top: 8px;
}
