.logo {
    display: flex;
    align-items: center;
    padding: 0px 12px;
    margin-top: 12px;
}

.logoText {
    width: 167px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    margin-left: 12px;
}

.navigationMenu {
    /* position: fixed; */
    /* top: 0;  */
    /* left: 0;  */
    width: 264px;
    height: 100vh;
    background: #1565C0;
}
  
.navigationMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
  
.navLi {
    display: flex;
    align-items: center;
    padding: 16px 16px;
    gap: 8px;
}

.navLi:hover {
    background: #FFF;
}
  
.navLink {
    text-decoration: none;
    margin-left: 14px;
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.navLink:hover {
    color: #1565C0;
    background: #FFF;
}

.activeNavLink {
    background: #FFF;
    color: #ffffff;
  }