

.workerCapitalName {
  color: #4B4B4B;
  font-size: 18px;
  font-weight: 600;
}

.actionBtn {
  padding: 5px 9px;
  font-weight: 400;
}

.workerBlock {
  display: flex;
  margin-top: 20px;
  gap: 30px;
  position: relative;

}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.rows {
  display: flex;
}

.label {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  width: 157px;
}

.workerInfo {
  border-radius: 5px;
  border: 1px solid #959595;
  /* min-width: 725px; */
  height: 16px;
  width: 100%;
  padding: 6px 9px;
  outline: none;
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.workerInfoText {
  min-height: 40px;
  max-height: 150px;
  overflow-y: auto;
  min-width: 990px;
  max-width: 1390px;
  /* width: 100%; */
  /* height: 30px; */
  /* width: 90%; */
  padding: 10px 10px;
  outline: none;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.5; 
}

@media screen and(max-width: 768px) {
  .workerInfoText{
    width: 80%;
  }
}

@media screen and (max-width: 576px) {
  .workerInfoText {
      width: 70%; /* Ширина для экранов с шириной до 576px */
  }
}

.totalInfo {
  border-radius: 5px;
  background: #F3F3F3;
  padding: 14px;
  margin-top: 15px;
}

.relativesActionBtns {
  display: flex;
  gap: 10px;
  background: none;
}

.iconBtn {
  font-size: 16px;
  width: 32px;
  height: 32px;
  color: #1565C0;
  cursor: pointer;
}

.editInput {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.alert {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  background: #1565c01e;
  border-radius: 7px;
}

.alert_text {
  color: #13539c;
}