.homeWrapper {
  display: flex;
  /* gap: 35px; */
  min-height: 100vh; 
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
}

.container {
  width: 94.5%;
  margin: 0 auto;
}

.navigation {
  flex: 0 0 auto; 
  width: 264px; 
}

.content {
  overflow: scroll;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  flex: 0 0 auto; 
  height: 60px;
}

.employeeWrapper {
  border-radius: 5px;
  background: #F8F8F8;
  padding: 10px;
  margin: 10px 0;
  /* padding: 10px; */
  /* display: flex; */
  gap: 10px;
}

.tabContent {
  border-radius: 5px;
  background: #F8F8F8;
  padding: 10px;
  margin: 0px 0;
}

.tabHeader {
  display: flex;
  justify-content: space-around;
  padding: 20px 24px;
  border-radius: 5px;
  background: #F3F3F3;
}

.activeTab {
  color: #4B4B4B;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.btnTab {
  cursor: pointer;
}

.btnTab:hover {
  font-weight: 700;
}

.employees {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: #FFF;
  padding: 10px 5px;
  /* max-width: 795px; */
  /* width: 100%; */
}

.submitBtn {
  width: 200px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.actionBtn {
  padding: 9px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.arrow {
  font-size: 24px;
}

.dropdown__content {
  padding: 8px;
  background: #F8F8F8;
  width: 185px;
  border-radius: 5px;
}

.input__container {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  background: #F8F8F8;
}

.options__label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.wrapper__input {
  display: flex;
}


.label__name {
  display: block;
  width: 127px;
  font-size: 16px;
  margin-right: 10px;
}

.workerInfo {
  border-radius: 5px;
  border: 1px solid #959595;
  width: 200px;
  /* height: 30px; */
  padding: 6px 9px;
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.workerInfoSelect {
  border-radius: 5px;
  border: 1px solid #959595;
  width: 220px;
  height: 32px;
  padding: 4px 9px;
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.data__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.workerInfoDate {
  border-radius: 5px;
  border: 1px solid #959595;
  width: 160px;
  /* height: 32px; */
  padding: 6px 9px;
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.dropdown {
  position: relative; 
}

.subMenu {
  display: none; 
  position: absolute;
  right: -120px; 
  top: 0; 
  background-color: #F8F8F8;
  padding: 8px;
  border-radius: 5px;
}

.dropdown:hover .subMenu {
  display: block; 
}

.subMenuDropdown {
  border: none;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  width: 185px;
  text-align: left;
  /* height: 32px; */
  padding: 6px 9px;
}

.input__name {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 15px;
}

