.wrapper {
  display: flex;
  /* gap: 35px; */
  min-height: 100vh; 
  height: 100vh;
  flex-direction: row;
  overflow: hidden;
}

.container {
  width: 94.5%;
  margin: 0 auto;
}

.navigation {
  flex: 0 0 auto; 
  width: 264px; 
}

.content {
  overflow: scroll;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  flex: 0 0 auto; 
  height: 60px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.filter_btn {
  display: flex;
  gap: 20px;
}

.dropdownContainer {
  position: relative;
  
}

.dropdown {
  position: absolute;
}

.dropdown button {
  margin-bottom: 8px;
}


/* styles.module.css */

.decree_btn_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 40px;
}

.decree_row {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: space-between;
}

.decree_btn {
  border-radius: 5px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  width: calc(55% - 20px);
  /* width: 17vw; */
  /* width: 100%; */

  &:hover {
    transform: translateY(-5px);
  }

  svg {
    font-size: 3vw;
    color: #1565C0;
  }

  p {
    margin-top: 10px;
    font-size: 1vw;
    color: #1565C0;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
  }
}

.decree_btn_active {
  background-color: #1565C0;
  background: #1565C0;
  color: #fff;
  border-radius: 5px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  width: calc(55% - 20px);

  &:hover {
    transform: translateY(-5px);
  }

  svg {
    font-size: 3vw;
    color: #fff;
  }

  p {
    margin-top: 10px;
    font-size: 1vw;
    color: #fff;
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
  }
}