/* Personal.module.css */

.formInput {
  background: #ffffff;
  font-family: "Helvetica", sans-serif;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  width: 100px;
  cursor: pointer;
}
  

.customTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.customTable th,
.customTable td {
  /* border: 1px solid #ccc; */
  padding: 8px;
  text-align: left;
}

.customTable td {
  border-bottom: none;
  border-top: none;
  border-right: 1px solid #ccc;
}

.customTable td:first-child {
  
  border-left: 1px solid #ccc;
}

.customTable tr {
  border-bottom: 1px solid #ccc;
  height: fit-content !important;
}

.customTable tr:first-child {
  border-top: 1px solid #ccc;
}

.customTable th {
  background-color: #f2f2f2;
}

.info__block {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.workerImg {
  width: 201px;
  height: 254px;
  object-fit: cover;
  border-radius: 5px;
}

.workerCapitalName {
  color: #4B4B4B;
  font-size: 18px;
  font-weight: 600;
}

.edit {
  font-size: 14px;
  color: #4b4b4b;
}

.workerBlock {
  display: flex;
  gap: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.rows {
  display: flex;
}

.label {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  width: 127px;
}

.workerInfo {
  display: flex;
  align-items: center;
  width: 270px;
  height: 40px;
  padding: 0px 9px;
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.workerInfoText {
  width: 290px;
  height: 34px;
  outline: none;
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  /* margin-left: 26px; */
}

.workerInfoSelect {
  width: 290px;
  height: 40px;
  padding: 0px 9px;
  /* margin-left: 12px; */
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
  /* margin-left: 12px; */
}

.totalInfo {
  border-radius: 5px;
  background: #f3f3f3;
  padding: 14px;
  margin-top: 15px;
}

/* calendar */
.datePickerContainer {
  position: relative;
}

.dateLogo {
  position: absolute;
  z-index: 12;
  right: 9px;
  top: 9px;
}

.actionBtn {
  padding: 5px 9px;
  font-weight: 400;
}

.submitBtn {
  padding: 10px;
}

.relativesActionBtns {
  display: flex;
  gap: 10px;
  background: none;
}

.iconBtn {
  font-size: 16px;
  width: 32px;
  height: 32px;
  color: #1565C0;
}

.editInput {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

.submitBtn {
height: 40px;
}