@font-face {
  font-family: 'Helvetica'; 
  src: local('Helvetica'), url('./assets/fonts/helvetica_regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Helvetica', sans-serif;
}

/* Medium */
@font-face {
  font-family: 'Helvetica Meduim';
  src: url('./assets/fonts/HelveticaMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}