.dropdown {
  width: 210px;
}

.actionBtn {
  flex: 1;
  padding: 7px;
  width: 225px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.arrow {
  font-size: 24px;
}

.dropdown__content {
  padding: 8px;
  background: #ffffff;
  width: 204px;
  border-radius: 5px;
}

.input__container {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
  /* background: #F8F8F8; */
}

.options__label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

.wrapper__input {
  display: flex;
}


.label__name {
  display: block;
  width: 127px;
  font-size: 16px;
  margin-right: 10px;
}

.workerInfo {
  width: 220px;
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.workerInfoSelect {
  border-radius: 5px;
  border: 1px solid #959595;
  width: 220px;
  height: 32px;
  padding: 4px 9px;
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.data__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.workerInfoDate {
  width: 182px;
  /* height: 32px; */
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif, sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.dropdown {
position: relative; 
}

.subMenu {
display: none; 
position: absolute;
right: -120px; 
top: 0; 
background-color: #ffffff;
padding: 8px;
border-radius: 5px;
}

.dropdown:hover .subMenu {
display: block; 
}

.subMenuDropdown {
border: none;
outline: none;
font-family: "Helvetica", sans-serif, sans-serif;
color: #000;
font-size: 16px;
font-weight: 400;
border-radius: 5px;
width: 185px;
text-align: left;
/* height: 32px; */
padding: 6px 9px;
}

.input__name {
font-size: 16px;
font-weight: 500;
margin-bottom: 15px;
}

.headline {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}