/* Personal.module.css */

.formInput {
  background: #ffffff;
  font-family: "Helvetica", sans-serif;
  outline: none;
  border: none;
  font-size: 14px;
  font-weight: 400;
  width: 270px;
}

.customTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.customTable th,
.customTable td {
  /* border: 1px solid #ccc; */
  padding: 8px;
  text-align: left;
}

.customTable td {
  border-bottom: none;
  border-top: none;
  border-right: 1px solid #ccc;
}

.customTable td:first-child {
  
  border-left: 1px solid #ccc;
}

.customTable tr {
  border-bottom: 1px solid #ccc;
  height: fit-content !important;
}

.customTable tr:first-child {
  border-top: 1px solid #ccc;
}

.customTable th {
  background-color: #f2f2f2;
}

.workerCapitalName {
  color: #4B4B4B;
  font-size: 18px;
  font-weight: 600;
}

.actionBtn {
  padding: 5px 9px;
  font-weight: 400;
}

.workerBlock {
  display: flex;
  
  gap: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
}

.rows {
  display: flex;
}

.label {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  width: 127px;
}

.workerInfo {
  background: #ffffff;
  width: 270px;
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.workerInfoP {
  display: block;
  border-radius: 5px;
  background-color: #fff;
  width: 270px;
  height: 40px;
  margin-left: 12px;
  outline: none;
  border: none;
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.workerInfoSelect {
  border-radius: 5px;
  border: 1px solid #959595;
  width: 290px;
  height: 30px;
  padding: 2px 9px;
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.workerInfoText {
  border-radius: 5px;
  border: 1px solid #959595;
  min-width: 725px;
  padding: 6px 9px;
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.totalInfo {
  border-radius: 5px;
  background: #F3F3F3;
  padding: 14px;
  margin-top: 15px;
}

/* calendar */
.datePickerContainer {
  position: relative;
}
.dateLogo {
  position: absolute;
  z-index: 12;
  right: 9px;
  top: 8px;
}

.checkboxDiv {
  display: flex;
  gap: 5px;
}

.inputText {
  border-radius: 5px;
  border: 1px solid #959595;
  line-height: 23px;
  padding: 6px 9px;
  margin-left: 12px;
  outline: none;
  font-family: "Helvetica", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.relativesActionBtns {
  display: flex;
  gap: 10px;
}

.editInput {
border: none;
outline: none;
background: none;
width: 100%;
}

.wrapper {
  display: flex;
  gap: 40px;
}

.iconBtn {
  font-size: 16px;
  width: 32px;
  height: 32px;
  color: #1565C0;
}