/* .customTable {
width: 100%;
border-collapse: collapse;
border-spacing: 0;
margin-top: 30px;
}

.customTable th,
.customTable td {
padding: 10px;
text-align: left;
vertical-align: middle;
}

.customTable td {
border-bottom: none;
border-top: none;
margin: 0 auto;


}

.customTable td:first-child {
}

.customTable tr {
  border-bottom: 1px solid #ccc;
  height: fit-content !important;
}

.customTable tr:first-child {
border-top: 1px solid #ccc;
}

.customTable th {
background-color: #f2f2f2;
} */

.workerImg {
width: 40px;
height: 40px;

border-radius: 50%;
object-fit: cover;
}

.headline {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Helvetica', sans-serif;
    margin: 20px 0 20px;
    color: #4B4B4B;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 8px
}

.fio {
    display: flex;
    gap: 8px;
}


/* styles.module.css */

.decree_btn_wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.decree_row {
  display: flex;
  gap: 20px;
}

.decree_btn {
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  svg {
    font-size: 36px;
    color: #1B3884;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    color: #1B3884;
  }
}

.workerRow {
  /* cursor: pointer; */
  transition: background-color 0.3s;
  border-radius: 5px;
}

.workerRow:hover {
  background-color: #f0f0f0; 
  border-radius: 5px;
}

.modal_wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_wrapper {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.position_wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.position_box {
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}