.customTable {
width: 100%;
border-collapse: collapse;
border-spacing: 0;
margin-top: 30px;
}

.customTable th,
.customTable td {
/* border: 1px solid #ccc; */
padding: 8px;
text-align: left;
vertical-align: middle;
}

.customTable td {
border-bottom: none;
border-top: none;
/* border-right: 1px solid #ccc; */
margin: 0 auto;


}

.customTable td:first-child {
/* border-left: 1px solid #ccc; */
}

.customTable tr {
border-bottom: 1px solid #ccc;
height: fit-content !important;

}

.customTable tr:first-child {
border-top: 1px solid #ccc;
}

.customTable th {
background-color: #f2f2f2;
}

.workerImg {
width: 40px;
height: 40px;

border-radius: 50%;
object-fit: cover;
}

.headline {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    margin: 20px 0 20px;
    color: #4B4B4B;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    gap: 8px
}

.fio {
    display: flex;
    gap: 8px;
}